<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <style>

      @font-face {
        font-family: "googleFont";
        src: url("/font/Sunflower-Medium.ttf");
      }
      h1,h2,h3,h4,h5,h6 {
        margin: 0;
      }
      html,body{
        margin: 0;
        height: 100%;
        width: 100%;
        font-family: "googleFont";
      }
      .title {
        font-size:6em;
        color: #ecf0f1;
        font-weight: 700;
      }
      @keyframes fadeIn {
        from {
          opacity:0;
        }
        to {
          opacity: 1;
        }
      }
      body {
        display: flex;
        background-color: #82ccdd;
        background-size: cover;
        background-position: center center;
        animation:fadeIn 1s ease-in-out forwards;
        justify-content: center;
        align-items: center;
      }
      .title {
        font-size: 6em;
        text-align: center;
      }
      .box {
        box-shadow: 3px 3px 3px 3px#3c6382;
        appearance:none;
         opacity: 0.8;
        width: 400px;
        height: 540px;
        
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        animation:fadeIn 1s ease-in-out forwards;
      }
      form {
        display: flex;
        flex-direction: column;
        width:90%;
        height:90%;
      }
      label {
        color: #f5f6fa;
        font-weight: 400;
        font-size: 1em;
      }
      input::placeholder {
        color: #3c6382;
      }
      input {
        color: #dcdde1;
        display: block;
        opacity: 0.7;
      }
      .inputUserInfo > label {
        margin-top: 10px;
      }
      .index {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width:50%;
        height:50%;
      }
      .index > a {
        color: #3c6382;
        text-decoration: none;
        font-size: 2em;
      }
      .submitDiv {
        display: flex;
        justify-content: flex-end;
      }
      .submitButton {
        margin-top:10px;
      }
      .showSalary {
        color: #3c6382;
        text-align: center;
      }
      @media screen and (max-width: 768px) {
        @font-face {
        font-family: "googleFont";
        src: url("/font/Sunflower-Medium.ttf");
      }
      h1,h2,h3,h4,h5,h6 {
        margin: 0;
      }
      html,body{
        margin: 0;
        height: 100%;
        width: 100%;
        font-family: "googleFont";
      }
      .title{
        font-size: 3em;
        text-align: center;
      }
      .index {
        width:80%;
        height:80%;
      }
      .index > a {
        text-align: center;
        color: #dcdde1;
        text-decoration: none;
        font-size: 1.2em;
      }
      .box {
        box-shadow: none;
      }
    }

    </style>
    <title>Hello, world!</title>
  </head>
  <body>
    <% if(flashMessage) { %>
    <p><%= flashMessage.success %></p>
    <% } %> <%- include('./loginInformation') %> <%- body %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
