<div class="container box">
  
  <form class="inputUserInfo" method="POST" action="/users/create">
    <label for="inputEslistmentDay">날짜</label>
    <input
      type="date"
      id="inputEslistmentDay"
      name="inputEslistmentDay"
      value="2018-07-22"
      min="2018-01-01"
      max="2018-12-31"
    />

    <label for="inputFoodExpenses">식비</label>
    <input type="text" name="inputFoodExpenses" id="foodExpenses" required />

    <label for="inputTransportationCost">교통비</label>
    <input
      type="text"
      name="inputTransportationCost"
      id="inputTransportationCost"
      required
    />

    <button type="submit">제출!</button>
  </form>
</div>

