<div>
  <form class="inputUserInfo" method="POST" action="/users/create">
    <label for="inputFoodExpenses">식비</label>
    <input type="text" name="inputFoodExpenses" id="foodExpenses" required />

    <label for="inputTransportationCost">교통비</label>
    <input
      type="text"
      name="inputTransportationCost"
      id="inputTransportationCost"
      required
    />

    <button type="submit">제출!</button>
  </form>
</div>
