<div class="container box">
    <% if(flashMessage) { %>
        <p><%= flashMessage.success %></p>
        <% } %>
    <form method="POST" action="/users/login" class="loginForm">
        <label for="inputEmail">email</label>
        <input type="text" id="inputEmail" name="email">

        <label for="inputPassword">password</label>
        <input type="text" id="inputPassword" name="loginPW">

        <button type="submit">Login!</button>
    </form>
</div>